.card-n {
    /* background: green; */
    height: 15%;
}
.post-menu-more {
    /* background: red; */
    width: 10%;
    cursor: pointer;
}
.post-menu {
    /* background: green; */
    display: none;
    width: 50%;
}
.post-menu ul li {
    display: inline;
}

.img-box {
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0, .26);
}

.imagesAlbum {
    /* background: red; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
}

.image {
    /* background: red; */
    display: inline-block;
    width: 200px;
    height: 240px;
    margin-bottom: 10px;
}

.album-img {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0, .26);
}

.img-delete {
    width: 100%;
    text-align: center;
}