.card-n {
    /* background: green; */
    height: 15%;
}
.post-menu-more {
    /* background: red; */
    width: 10%;
    cursor: pointer;
}
.post-menu {
    /* background: green; */
    display: none;
    width: 50%;
}
.post-menu ul li {
    display: inline;
}